Добрый день, {{ order.name }}!
<br/>
<br/>
<a href="{{ order.client_order_url }}">Заказ №{{ order.public_id }} будет отменен через сутки.</a>
<br>Пожалуйста, свяжитесь с нами, если вам нужно дополнительное время.
