Здравствуйте!
<br>
Благодарим Вас за покупку подарочного сертификата от магазина {{ vendor.name }} !
<br>
<br>
Сертификатом можно оплатить часть заказа или всю покупку полностью. При оформлении заказа введите индивидуальный промокод с сертификата в поле "промокод".  После этого из итоговой суммы оплаты автоматически вычтется номинал сертификата.
<br>
<br>
Обратите внимание! Сертификат действует один раз, остаток средств на сертификате сгорает.
Желаем приятных и полезных покупок!
<br>
<a href="{{ order_item.download_coupon_image_url }}" target="_blank">Ссылка на сертификат</a>
