Заказ <a href="{{order.operator_url}}">N{{ order.public_id }}</a> на сумму {{order.total_with_delivery_price | money_with_currency }} одобрен платежной системой и ожидает подтвреждения от нас.
<br>
<br>
--
<br>
{{ vendor.operator_url }}
